<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../js/signup.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Question game</title>
</head>

<body>
    <h1>Welcome to Iv and David's amazing game</h1>
    <!-- <button onclick="alert('yooooooo you clicked the signup button!!!!!!')">Sign up</button>  -->
    <button onclick="signup()">Sign up</button>

    <div class="pretty-button">UwU</div>
    <a href="localhost/login" class="pretty-button">OwO</a>
</body>

</html>