<!DOCTYPE html>
<html lang="en">

<head>
    <title>Question game</title>
    <script src="../js/api.js"></script>
	<script src="../js/questions.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="../css/style.css">
    
</head>

<body>
    <h1>Questions</h1>
    <div id="mine" style="float: left; overflow:auto; width: 40%; margin-right:50px">
        <h2>Your answers</h2>
    </div>
    <div id="theirs" style="overflow:auto; width:50%">
        <h2>Your partner's (guess)</h2>
    </div>
    </div>
    <br>
    <button onclick="getResponses()">Submit</button>
    <button class="pretty-button" id="submit-button">Submit owo</button>
    <script src="../js/listeners/questions-listeners.js"></script>
</body>
</html>
